{
  "plugins": ["jsdoc"],
  "extends": ["eslint:recommended", "plugin:jsdoc/recommended"],
  "rules": {
    "jsdoc/check-alignment": "error", // Example rule: enforce JSDoc comments alignment
    "jsdoc/check-param-names": "error", // Checks that parameter names match those in the function declaration
    "jsdoc/check-tag-names": "error", // Ensure that JSDoc tags exist
    "jsdoc/check-types": "error", // Enforces using consistent types
    "jsdoc/require-jsdoc": [
      "error",
      {
        // Require JSDoc comments for certain nodes
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true
        }
      }
    ]
  }
}
