{
  "plugins": ["jsdoc"],
  "rules": {
    "jsdoc/check-param-names": 2,
    "jsdoc/check-tag-names": 2,
    "jsdoc/check-types": 2,
    "jsdoc/require-param": 2,
    "jsdoc/require-param-description": 2,
    "jsdoc/require-param-type": 2,
    "jsdoc/require-returns-description": 2,
    "jsdoc/require-returns-type": 2
  }
}
